@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    --transparent-white: hsla(0, 0%, 100%, 0.75); /*Paragraphs*/
    --very-light-gray: hsl(0, 0%, 95%); /*Background, Headings, Buttons*/

    --font-lexand-deca: 'Lexend Deca', sans-serif;
    --font-big-shoulders-display: 'Big Shoulders Display', sans-serif;
}

*, *::after, *::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*::selection {
    background-color: transparent;
    color: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--very-light-gray);
}

.main-content {
    display: flex;
    flex-direction: row;
    cursor: default;
}

.section-first {
    width: 310px;
    height: 480px;
    padding: 35px 45px;
    border-radius: 10px 0px 0px 10px;
    background-color: var(--bright-orange);
}

.section-img-first {
    height: 80px;
    background-repeat: no-repeat;
    background-image: url(images/icon-sedans.svg);
}

.first-heading {
    height: 70px;
    text-transform: uppercase;
    font-size: 2.5em;
    color: var(--very-light-gray);
    font-family: var(--font-big-shoulders-display);
}

.first-paragraph {
    line-height: 25px;
    height: 200px;
    color: var(--transparent-white);
    font-family: var(--font-lexand-deca);
}

.first-button {
    border: none;
    width: 150px;
    height: 50px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 60px;
    font-family: var(--font-lexand-deca);
    color: var(--bright-orange);
    background-color: var(--very-light-gray);
}

.first-button:hover {
    color: var(--very-light-gray);
    background-color: var(--bright-orange);
    border: 2px solid var(--very-light-gray);
}

.section-second {
    width: 310px;
    height: 480px;
    padding: 35px 45px ;
    background-color: var(--dark-cyan);
}

.section-img-second {
    height: 80px;
    background-repeat: no-repeat;
    background-image: url(images/icon-suvs.svg);
}

.second-heading {
    height: 70px;
    text-transform: uppercase;
    font-size: 2.5em;
    color: var(--very-light-gray);
    font-family: var(--font-big-shoulders-display);
}

.second-paragraph {
    line-height: 25px;
    height: 200px;
    color: var(--transparent-white);
    font-family: var(--font-lexand-deca);
}

.second-button {
    border: none;
    width: 150px;
    height: 50px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 60px;
    font-family: var(--font-lexand-deca);
    color: var(--dark-cyan);
    background-color: var(--very-light-gray);
}

.second-button:hover {
    color: var(--very-light-gray);
    background-color: var(--dark-cyan);
    border: 2px solid var(--very-light-gray);
}

.section-third {
    width: 310px;
    height: 480px;
    border-radius: 0px 10px 10px 0px;
    background-color: var(--very-dark-cyan);
}